# Global
node_modules/
.env
dist/
build/

# Backend
Backend/node_modules/
Backend/.env
Backend/dist/

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/build/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/
